[http]
    sslVerify = false
        postBuffer = 1048576000
        maxRequestBuffer = 1048576000
        lowSpeedLimit = 0
        lowSpeedTime = 999999
[safe]
    directory = *
[url "https://github.com/"]
        insteadOf = git://github.com/
[url "https://github.com/docker/cli"]
        insteadOf = https://github.com/git/docker/cli
        insteadOf = git://github.com/docker/cli
        # below are URLs with 404 errors
        insteadOf = http://downloads.yoctoproject.org/mirror/sources/git2_github.com.docker.cli.tar.gz
        insteadOf = http://sources.openembedded.org/git2_github.com.docker.cli.tar.gz
        insteadOf = https://mirrors.kernel.org/yocto-sources/git2_github.com.docker.cli.tar.gz
        insteadOf = https://codelinaro.jfrog.io/ui/native/codelinaro-le/
[url "https://git.codelinaro.org/clo/"]
        insteadOf = https://source.codeaurora.org/quic/
        insteadOf = git://source.codeaurora.org/quic/
        insteadOf = git://codeaurora.org/quic/
        insteadOf = http://source.codeaurora.org/quic/
        insteadOf = git://git.codelinaro.org/clo/
[url "https://git.codelinaro.org/clo/la/platform/external/modp_b64"]
        insteadOf = git://git.codelinaro.org/clo/la/platform/external/modp_b64
[url "https://gitlab.com/"]
        insteadOf = git://gitlab.com/
[url "https://github.com/urfave/cli"]
        insteadOf = git://github.com/codegangsta/cli.git
[url "https://git.netfilter.org/"]
        insteadOf = git://git.netfilter.org/
[url "https://github.com/spf13/cobra"]
        insteadOf = git://github.com/spf13/cobra.git
[url "https://gitlab.freedesktop.org/virgl/virglrenderer"]
        insteadOf = git://anongit.freedesktop.org/git/virglrenderer
[url "https://artifacts.codelinaro.org/ui/native/qli-ci/software/chip/qualcomm_linux-spf-1-0/qualcomm-linux-spf-1-0_test_device_public/r1.0_00039.2/le-qclinux-1-0-r1/apps_proc/prebuilt_HY22/"]
        insteadOf = https://artifacts.codelinaro.org/artifactory/qli-ci/software/chip/qualcomm_linux-spf-1-0/qualcomm-linux-spf-1-0_test_device_public/r1.0_00039.2/le-qclinux-1-0-r1/apps_proc/prebuilt_HY22/
[url "https://github.com/ros2-gbp/geometry2-release"]
        insteadOf = git://github.com/ros2-gbp/geometry2-release
[url "https://github.com/uncrustify/uncrustify.git"]
        insteadOf = git://github.com/uncrustify/uncrustify.git
[url "https://github.com/ros2-gbp/fastrtps-release.git"]
        insteadOf = git://github.com/ros2-gbp/fastrtps-release
[url "https://github.com/flann-lib/flann"]
        insteadOf = https://github.com/mariusmuja/flann
[url "https://github.com/orocos/orocos_kinematics_dynamics"]
        insteadOf = git://github.com/orocos/orocos_kinematics_dynamics.git
[url "https://github.com/ros2-gbp/ament_cmake-release"]
        insteadOf = git://github.com/ros2-gbp/ament_cmake-release
[url "https://github.com/ros2-gbp/rosidl-release"]
        insteadOf = git://github.com/ros2-gbp/rosidl-release
[url "https://github.com/ros2-gbp/rmw_cyclonedds-release"]
        insteadOf = git://github.com/ros2-gbp/rmw_cyclonedds-release
[url "https://github.com/fmtlib/fmt"]
        insteadOf = git://github.com/fmtlib/fmt
[url "https://github.com/ros2-gbp/navigation2-release"]
        insteadOf = git://github.com/SteveMacenski/navigation2-release
        insteadOf = https://github.com/git/SteveMacenski/navigation2-release/
#[url "https://artifacts.codelinaro.org/ui/native/qli-ci/software/chip/qualcomm_linux-spf-1-0/qualcomm-linux-spf-1-0_test_device_public/r1.0_00039.2/le-qcrobotics-1-0-r1/apps_proc/prebuilt_HY22/"]
#       insteadOf = https://artifacts.codelinaro.org/artifactory/qli-ci/software/chip/qualcomm_linux-spf-1-0/qualcomm-linux-spf-1-0_test_device_public/r1.0_00039.2/le-qcrobotics-1-0-r1/apps_proc/prebuilt_HY22/
#[url "https://artifacts.codelinaro.org/ui/native/qli-ci/software/chip/qualcomm_linux-spf-1-0/qualcomm-linux-spf-1-0_test_device_public/r1.0_00039.2/le-qclinux-1-0-r1/apps_proc/prebuilt_HY22/"]
#       insteadOf = https://artifacts.codelinaro.org/artifactory/qli-ci/software/chip/qualcomm_linux-spf-1-0/qualcomm-linux-spf-1-0_test_device_public/r1.0_00039.2/le-qclinux-1-0-r1/apps_proc/prebuilt_HY22/adreno_1.0_qcm6490.tar.gz
#[url "https://artifacts.codelinaro.org/ui/native/qli-ci/software/chip/qualcomm_linux-spf-1-0/qualcomm-linux-spf-1-0_test_device_public/r1.0_00039.2/le-qclinux-1-0-r1/apps_proc/prebuilt_HY22/"]
 #       insteadOf = https://artifacts.codelinaro.org/artifactory/qli-ci/software/chip/qualcomm_linux-spf-1-0/qualcomm-linux-spf-1-0_test_device_public/r1.0_00039.2/le-qclinux-1-0-r1/apps_proc/prebuilt_HY22/
[url "https://artifacts.codelinaro.org/ui/native/"]
        insteadOf = https://artifacts.codelinaro.org/artifactory/
[user]
        email = <your_email>
        name = <your_name>
[color]
        ui = auto
[http "https://chipmaster2.qti.qualcomm.com"]
        followRedirects = true
[http "https://qpm-git.qualcomm.com"]
        followRedirects = true
